name: Publish docker image

on:
    workflow_dispatch:
        # manual run

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
          contents: read
          packages: write
          id-token: write

        steps:
            - name: checkout main branch
              uses: actions/checkout@v5.0.0
              with:
                repository: xbreaker/pgbackweb
                ref: features/docker-size
                token: ${{ secrets.GH_BOT_WORKFLOW_TOKEN }}
                  
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3.12.0

            - name: Log into registry
              uses: docker/login-action@v3.6.0
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}

            - name: Extract Docker metadata
              id: meta
              uses: docker/metadata-action@v5.10.0
              with:
                images: ghcr.io/xbreaker-bot/pgbackweb
                labels: |
                    org.opencontainers.image.source=https://github.com/xbreaker/pgbackweb
                    org.opencontainers.image.url=https://github.com/xbreaker/pgbackweb
                tags: |
                    type=semver,pattern={{major}}.{{minor}},value=v1.0.0

            - name: Build and push Docker image
              id: build-and-push
              uses: docker/build-push-action@v6.18.0
              with:
                platforms: linux/amd64,linux/arm64
                context: .
                file: docker/Dockerfile
                push: true
                tags: ${{ steps.meta.outputs.tags }}
                labels: ${{ steps.meta.outputs.labels }}
                cache-from: type=gha
                cache-to: type=gha,mode=max
